@tailwind base;
@tailwind components;

* {
    @apply font-neuzeit; 
}

body {
    overflow-x: hidden;
}

.transition {
    @apply transition-all duration-300 ease-in-out;
}

h1 {
    @apply text-title font-bold text-primary;
}

h2 {
    @apply text-contentTitle font-bold text-primary;
}

h3 {
    @apply text-mediumTitle font-bold text-primary;
}

h4 {
    @apply text-smallerTitle text-primary;
    line-height: 41.85px;
    margin-bottom: 30px
}

p {
    @apply text-primary;
    line-height: 29.75px ;
}

span {
    @apply text-primary;
}

.skinny {
    margin: 0 23%;
}
@media only screen and (max-width:768px) {
    .skinny {
        margin: 0 4%;
    }
}



.innerWidth {
    margin: 0 8%;
}

.innerWidthSchoolUniforms {
    margin: 0 6%;
}

@media only screen and (max-width:768px) {
    .innerWidthSchoolUniforms {
        margin: 0 4%;
    }
}

@media only screen and (max-width:768px) {
    .schoolTypeBtnsWrapper {
        @apply overflow-scroll;
    }
}






.text-title {
    font-weight: bold;
    line-height: 64px;
}

.font-neuzeit{
    font-family: 'neuzeit'; 
    line-height:100%;
}

.btn {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    color: white;

    @apply border border-transparent;
}

.btnUnselected {
    @apply text-primary border-2 border-fadedGrey border-opacity-20
    hover:bg-fadeOrange hover:text-secondary transition-all duration-300 ease-in-out
    ;

}

.navLink {
    height: 45px;
}

.mobileMenuContent{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.basketNumber {
    @apply flex justify-center items-center p-3 rounded-full text-white;

    border: solid 3px white;
    width: 7px;
    height: 7px;

}


.smallActiveLink span {
    @apply text-fadeOrange;
}

.activeLink {
    height: 45px;
    border-bottom: 5px solid #FF8143;
}

/*TOP SECTION*/
.smallInfoBanner {
    height: 46px;
    padding: 16px 40px;
    width: screen;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.2em;
    @apply bg-primary text-fadedGrey flex justify-around items-center;

}


@media screen and (max-width: 768px) {
    .smallInfoBanner{
        padding: 16px 20px;
        font-size: 8px;
    }


    
}



.topSectionWrapper {
    @apply bg-warmGrey flex text-primary;
}

.topSectionLeft {
    @apply font-bold;
}

.topSectionLeft, .topSectionRight {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
  }

  .topSectionRight {
    justify-content: flex-end;
    font-size: 13px;
  }

.topSectionTop {
    padding: 30px 40px;
}

@media screen and (max-width: 768px) {
    .topSectionTop{
        padding: 16px 20px;
        font-size: 8px;
    }
}

.topSectionBtm {
    padding: 19px 40px 0 40px;
    font-size: 17px;
    @apply font-bold;
}


/*HERO BANNER*/
.heroBanner {
    min-height: calc(100vh - 210px);
}



.heroBannerInnerLHS {
    min-height: calc(100vh - 210px);
    padding: 5rem;
}

@media only screen and (max-width:768px) {
    .heroBannerInnerLHS {
        padding: 3rem;
    }
}



.heroBannerBgs {
    min-height: calc(100vh - 210px);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    
}

@media screen and (max-width: 768px) {
    .heroBannerBgsLeft, .heroBannerBgsRight {
        min-height: 360px;
    }
    .heroBannerBgLeft img {
        width: 72%;
    }
    .heroBannerBgRight img {
        width: 65%;
    }
}

.circle {
    border-radius: 100%;
    height: 300px;
    width: 100%;
}

/*CTA*/
.ctaWrapper, .testiWrapper {
    padding: 120px 0;
}

@media only screen and (max-width: 768px) {
    .ctaWrapper, .testiWrapper {
        padding: 60px 0;
    }
}

.testiWrapper {
    display: flex!important;
}


.testiWrapper p {
    @apply w-2/3 my-4;

    text-align: center;
    font-size: 23px
}

.testiItem {
    display: flex!important;
}


/* FOOTER */
.footer {
    /* margin-top: 120px; */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 14rem;
    padding-right: 14rem;
}

@media only screen and (max-width: 768px) {
    .footer {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 0;
    }
}

/*HERO BANNER*/
.textBanner{
    height: 204px;
}

/*GET A QUOTE*/
.getAQuoteFormWrapper {
    padding: 60px 120px;
    border-radius: 6px;
}

@media only screen and (max-width: 1280px) {
    .getAQuoteFormWrapper {
        padding: 60px 20px;
    }
}


.getAQuoteForm input, textarea {
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 30px;
}

/*2 Col Card */
.twoColCard{
    /* padding: 30px 60px; */
}

/*3 Col Card */
.threeColCard{
    @apply w-full lg:w-1/3;
    padding: 30px 60px;
}


/*BROWSE RANGE*/
.cardImage {
    @apply justify-center w-full mb-0 md:mb-4 flex items-start h-2/3;
}

.fourColCard {
    @apply flex w-1/2 md:w-1/4 px-2.5;
}

.fourColCardInner{
    /* height: 400px; */
    width: 100%;
    padding: 30px
}

/*UNIFORMS*/
.uniformBanner {
    height: 125px;
}

.letterCircle {
    @apply flex justify-center items-center p-4 rounded-full border hover:bg-fadeOrange hover:text-white cursor-pointer
    transition-all duration-300 ease-in-out;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width:768px) {
    .letterCircle {
        width: 80px;
        height: 80px;
    }
}

.fiveColCard {
    @apply flex w-1/2 md:w-1/5 px-2.5;
}

.fiveColCardInner{
    /* height: 400px; */
    width: 100%;
    padding: 30px
}

.selectSizeWrapper {
    border-radius: 6px;
}

.selectBoxWrapper {
    border-radius: 6px;
}

.selectBox {
    width: 100%;
    border-radius: 6px;
    padding: 18px 20px;
}






@tailwind utilities;
