@font-face {
    font-family: 'AType Stencil 2.0';
    src: url('ATypeStencil20-Regular.woff2') format('woff2'),
        url('ATypeStencil20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

