/*! tailwindcss v2.2.12 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

* {
	font-family: neuzeit-grotesk, sans-serif;
}

body {
    overflow-x: hidden;
}

.transition {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
}

h2 {
	font-size: 2.75rem;
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
}

h3 {
	font-size: 2.125rem;
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
}

h4 {
	font-size: 1.6rem;
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
    line-height: 41.85px;
    margin-bottom: 30px;
}

p {
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
    line-height: 29.75px ;
}

span {
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
}

.skinny {
    margin: 0 23%;
}
@media only screen and (max-width:768px) {
    .skinny {
        margin: 0 4%;
    }
}



.innerWidth {
    margin: 0 8%;
}

.innerWidthSchoolUniforms {
    margin: 0 6%;
}

@media only screen and (max-width:768px) {
    .innerWidthSchoolUniforms {
        margin: 0 4%;
    }
    .schoolTypeBtnsWrapper {
		overflow: scroll;
	}
}






.text-title {
    font-weight: bold;
    line-height: 64px;
}

.font-neuzeit{
    font-family: 'neuzeit'; 
    line-height:100%;
}

.btn {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    border-width: 1px;
    border-color: transparent;
}

.btnUnselected {
	border-width: 2px;
	--tw-border-opacity: 1;
	border-color: rgba(179, 191, 205, var(--tw-border-opacity));
	--tw-border-opacity: 0.2;
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btnUnselected:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 129, 67, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.navLink {
    height: 45px;
}

.mobileMenuContent{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.basketNumber {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	padding: 0.75rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));

    border: solid 3px white;
    width: 7px;
    height: 7px;
}


.smallActiveLink span {
	--tw-text-opacity: 1;
	color: rgba(255, 129, 67, var(--tw-text-opacity));
}

.activeLink {
    height: 45px;
    border-bottom: 5px solid #FF8143;
}

/*TOP SECTION*/
.smallInfoBanner {
    height: 46px;
    padding: 16px 40px;
    width: screen;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    --tw-bg-opacity: 1;
    background-color: rgba(0, 41, 89, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(179, 191, 205, var(--tw-text-opacity));

}


@media screen and (max-width: 768px) {
    .smallInfoBanner{
        padding: 16px 20px;
        font-size: 8px;
    }


    
}



.topSectionWrapper {
	display: flex;
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 245, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
}

.topSectionLeft {
	font-weight: 700;
}

.topSectionLeft, .topSectionRight {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
  }

  .topSectionRight {
    justify-content: flex-end;
    font-size: 13px;
  }

.topSectionTop {
    padding: 30px 40px;
}

@media screen and (max-width: 768px) {
    .topSectionTop{
        padding: 16px 20px;
        font-size: 8px;
    }
}

.topSectionBtm {
    padding: 19px 40px 0 40px;
    font-size: 17px;
    font-weight: 700;
}


/*HERO BANNER*/
.heroBanner {
    min-height: calc(100vh - 210px);
}



.heroBannerInnerLHS {
    min-height: calc(100vh - 210px);
    padding: 5rem;
}

@media only screen and (max-width:768px) {
    .heroBannerInnerLHS {
        padding: 3rem;
    }
}



.heroBannerBgs {
    min-height: calc(100vh - 210px);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    
}

@media screen and (max-width: 768px) {
    .heroBannerBgsLeft, .heroBannerBgsRight {
        min-height: 360px;
    }
    .heroBannerBgLeft img {
        width: 72%;
    }
    .heroBannerBgRight img {
        width: 65%;
    }
}

.circle {
    border-radius: 100%;
    height: 300px;
    width: 100%;
}

/*CTA*/
.ctaWrapper, .testiWrapper {
    padding: 120px 0;
}

@media only screen and (max-width: 768px) {
    .ctaWrapper, .testiWrapper {
        padding: 60px 0;
    }
}

.testiWrapper {
    display: flex!important;
}


.testiWrapper p {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 66.666667%;

    text-align: center;
    font-size: 23px;
}

.testiItem {
    display: flex!important;
}


/* FOOTER */
.footer {
    /* margin-top: 120px; */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 14rem;
    padding-right: 14rem;
}

@media only screen and (max-width: 768px) {
    .footer {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 0;
    }
}

/*HERO BANNER*/
.textBanner{
    height: 204px;
}

/*GET A QUOTE*/
.getAQuoteFormWrapper {
    padding: 60px 120px;
    border-radius: 6px;
}

@media only screen and (max-width: 1280px) {
    .getAQuoteFormWrapper {
        padding: 60px 20px;
    }
}


.getAQuoteForm input, textarea {
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 30px;
}

/*2 Col Card */
.twoColCard{
    /* padding: 30px 60px; */
}

/*3 Col Card */
.threeColCard {
	width: 100%;
}
@media (min-width: 1024px) {

	.threeColCard {
		width: 33.333333%;
	}
}
.threeColCard{
    padding: 30px 60px;
}


/*BROWSE RANGE*/
.cardImage {
	margin-bottom: 0px;
	display: flex;
	height: 66.666667%;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}
@media (min-width: 768px) {

	.cardImage {
		margin-bottom: 1rem;
	}
}

.fourColCard {
	display: flex;
	width: 50%;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

@media (min-width: 768px) {

	.fourColCard {
		width: 25%;
	}
}

.fourColCardInner{
    /* height: 400px; */
    width: 100%;
    padding: 30px
}

/*UNIFORMS*/
.uniformBanner {
    height: 125px;
}

.letterCircle {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	border-width: 1px;
	padding: 1rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.letterCircle:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 129, 67, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.letterCircle {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width:768px) {
    .letterCircle {
        width: 80px;
        height: 80px;
    }
}

.fiveColCard {
	display: flex;
	width: 50%;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

@media (min-width: 768px) {

	.fiveColCard {
		width: 20%;
	}
}

.fiveColCardInner{
    /* height: 400px; */
    width: 100%;
    padding: 30px
}

.selectSizeWrapper {
    border-radius: 6px;
}

.selectBoxWrapper {
    border-radius: 6px;
}

.selectBox {
    width: 100%;
    border-radius: 6px;
    padding: 18px 20px;
}






.fixed {
	position: fixed;
}






.absolute {
	position: absolute;
}






.relative {
	position: relative;
}






.-top-2 {
	top: -0.5rem;
}






.-right-5 {
	right: -1.25rem;
}






.top-0 {
	top: 0px;
}






.left-0 {
	left: 0px;
}






.right-0 {
	right: 0px;
}






.-right-12 {
	right: -3rem;
}






.-right-60 {
	right: -15rem;
}






.-bottom-30 {
	bottom: -7.5rem;
}






.z-50 {
	z-index: 50;
}






.z-0 {
	z-index: 0;
}






.z-30 {
	z-index: 30;
}






.m-auto {
	margin: auto;
}






.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}






.my-12 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}






.-mx-2\.5 {
	margin-left: -0.625rem;
	margin-right: -0.625rem;
}






.-mx-2 {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}






.my-16 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}






.mr-2 {
	margin-right: 0.5rem;
}






.mr-8 {
	margin-right: 2rem;
}






.mt-12 {
	margin-top: 3rem;
}






.mb-12 {
	margin-bottom: 3rem;
}






.mb-8 {
	margin-bottom: 2rem;
}






.mt-8 {
	margin-top: 2rem;
}






.mb-4 {
	margin-bottom: 1rem;
}






.mr-4 {
	margin-right: 1rem;
}






.mb-16 {
	margin-bottom: 4rem;
}






.mt-6 {
	margin-top: 1.5rem;
}






.ml-0 {
	margin-left: 0px;
}






.ml-5 {
	margin-left: 1.25rem;
}






.mb-3 {
	margin-bottom: 0.75rem;
}






.mb-14 {
	margin-bottom: 3.5rem;
}






.mt-16 {
	margin-top: 4rem;
}






.-ml-6 {
	margin-left: -1.5rem;
}






.-mr-6 {
	margin-right: -1.5rem;
}






.mt-20 {
	margin-top: 5rem;
}






.ml-6 {
	margin-left: 1.5rem;
}






.mt-1 {
	margin-top: 0.25rem;
}






.block {
	display: block;
}






.flex {
	display: flex;
}






.table {
	display: table;
}






.hidden {
	display: none;
}






.h-\[360px\] {
	height: 360px;
}






.h-full {
	height: 100%;
}






.w-full {
	width: 100%;
}






.w-\[170px\] {
	width: 170px;
}






.w-screen {
	width: 100vw;
}






.w-1\/2 {
	width: 50%;
}






.w-auto {
	width: auto;
}






.w-3\/4 {
	width: 75%;
}






.flex-1 {
	flex: 1 1 0%;
}






.flex-grow {
	flex-grow: 1;
}






.border-collapse {
	border-collapse: collapse;
}






.flex-row {
	flex-direction: row;
}






.flex-col {
	flex-direction: column;
}






.flex-wrap {
	flex-wrap: wrap;
}






.items-start {
	align-items: flex-start;
}






.items-end {
	align-items: flex-end;
}






.items-center {
	align-items: center;
}






.items-stretch {
	align-items: stretch;
}






.justify-start {
	justify-content: flex-start;
}






.justify-end {
	justify-content: flex-end;
}






.justify-center {
	justify-content: center;
}






.justify-between {
	justify-content: space-between;
}






.justify-around {
	justify-content: space-around;
}






.gap-8 {
	gap: 2rem;
}






.gap-10 {
	gap: 2.5rem;
}






.gap-2 {
	gap: 0.5rem;
}






.gap-1 {
	gap: 0.25rem;
}






.gap-12 {
	gap: 3rem;
}






.gap-y-4 {
	row-gap: 1rem;
}






.gap-y-3 {
	row-gap: 0.75rem;
}






.gap-x-2 {
	-moz-column-gap: 0.5rem;
	     column-gap: 0.5rem;
}






.gap-x-5 {
	-moz-column-gap: 1.25rem;
	     column-gap: 1.25rem;
}






.gap-x-8 {
	-moz-column-gap: 2rem;
	     column-gap: 2rem;
}






.gap-y-6 {
	row-gap: 1.5rem;
}






.gap-y-10 {
	row-gap: 2.5rem;
}






.overflow-hidden {
	overflow: hidden;
}






.overflow-scroll {
	overflow: scroll;
}






.overflow-x-hidden {
	overflow-x: hidden;
}






.whitespace-nowrap {
	white-space: nowrap;
}






.rounded {
	border-radius: 0.25rem;
}






.border {
	border-width: 1px;
}






.border-b {
	border-bottom-width: 1px;
}






.border-white {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}






.bg-fadeOrange {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 129, 67, var(--tw-bg-opacity));
}






.bg-warmGrey {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 245, var(--tw-bg-opacity));
}






.bg-primary {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 41, 89, var(--tw-bg-opacity));
}






.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}






.bg-lighterBlue {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 83, 180, var(--tw-bg-opacity));
}






.fill-current {
	fill: currentColor;
}






.object-cover {
	-o-object-fit: cover;
	   object-fit: cover;
}






.p-8 {
	padding: 2rem;
}






.p-6 {
	padding: 1.5rem;
}






.p-12 {
	padding: 3rem;
}






.px-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}






.py-16 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}






.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}






.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}






.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}






.px-12 {
	padding-left: 3rem;
	padding-right: 3rem;
}






.py-14 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}






.px-3\.5 {
	padding-left: 0.875rem;
	padding-right: 0.875rem;
}






.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}






.pb-12 {
	padding-bottom: 3rem;
}






.pb-16 {
	padding-bottom: 4rem;
}






.pl-16 {
	padding-left: 4rem;
}






.pr-20 {
	padding-right: 5rem;
}






.pr-4 {
	padding-right: 1rem;
}






.text-center {
	text-align: center;
}






.font-neuzeit {
	font-family: neuzeit-grotesk, sans-serif;
}






.text-4xs {
	font-size: 0.688rem;
}






.text-xxs {
	font-size: 1.063rem;
}






.text-3xs {
	font-size: 0.813rem;
}






.text-smallerTitle {
	font-size: 1.6rem;
}






.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}






.text-lg {
	font-size: 1.438rem;
}






.text-contentTitle {
	font-size: 2.75rem;
}






.text-mediumTitle {
	font-size: 2.125rem;
}






.font-bold {
	font-weight: 700;
}






.font-normal {
	font-weight: 400;
}






.font-semibold {
	font-weight: 600;
}






.uppercase {
	text-transform: uppercase;
}






.leading-none {
	line-height: 1;
}






.leading-10 {
	line-height: 2.5rem;
}






.text-fadedGrey {
	--tw-text-opacity: 1;
	color: rgba(179, 191, 205, var(--tw-text-opacity));
}






.text-primary {
	--tw-text-opacity: 1;
	color: rgba(0, 41, 89, var(--tw-text-opacity));
}






.text-secondary {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}






.text-fadeOrange {
	--tw-text-opacity: 1;
	color: rgba(255, 129, 67, var(--tw-text-opacity));
}






.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}






.text-mediumGrey {
	--tw-text-opacity: 1;
	color: rgba(128, 148, 172, var(--tw-text-opacity));
}






.text-darkGrey {
	--tw-text-opacity: 1;
	color: rgba(64, 95, 130, var(--tw-text-opacity));
}






.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}






.opacity-50 {
	opacity: 0.5;
}






.opacity-30 {
	opacity: 0.3;
}






.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}






.hover\:text-fadeOrange:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 129, 67, var(--tw-text-opacity));
}






@media (min-width: 640px) {

	.sm\:justify-center {
		justify-content: center;
	}
}






@media (min-width: 768px) {

	.md\:relative {
		position: relative;
	}

	.md\:-right-10 {
		right: -2.5rem;
	}

	.md\:bottom-0 {
		bottom: 0px;
	}

	.md\:my-8 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.md\:mx-28 {
		margin-left: 7rem;
		margin-right: 7rem;
	}

	.md\:mx-32 {
		margin-left: 8rem;
		margin-right: 8rem;
	}

	.md\:mb-0 {
		margin-bottom: 0px;
	}

	.md\:ml-6 {
		margin-left: 1.5rem;
	}

	.md\:mr-0 {
		margin-right: 0px;
	}

	.md\:ml-8 {
		margin-left: 2rem;
	}

	.md\:ml-0 {
		margin-left: 0px;
	}

	.md\:mt-0 {
		margin-top: 0px;
	}

	.md\:block {
		display: block;
	}

	.md\:flex {
		display: flex;
	}

	.md\:hidden {
		display: none;
	}

	.md\:h-\[40px\] {
		height: 40px;
	}

	.md\:h-full {
		height: 100%;
	}

	.md\:w-auto {
		width: auto;
	}

	.md\:w-\[234px\] {
		width: 234px;
	}

	.md\:w-1\/2 {
		width: 50%;
	}

	.md\:w-full {
		width: 100%;
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:flex-wrap {
		flex-wrap: wrap;
	}

	.md\:justify-start {
		justify-content: flex-start;
	}

	.md\:justify-center {
		justify-content: center;
	}

	.md\:justify-around {
		justify-content: space-around;
	}

	.md\:gap-x-4 {
		-moz-column-gap: 1rem;
		     column-gap: 1rem;
	}

	.md\:bg-transparent {
		background-color: transparent;
	}

	.md\:p-10 {
		padding: 2.5rem;
	}

	.md\:p-0 {
		padding: 0px;
	}

	.md\:py-0 {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.md\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.md\:py-16 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.md\:pl-12 {
		padding-left: 3rem;
	}

	.md\:text-title {
		font-size: 4rem;
	}

	.md\:text-3xs {
		font-size: 0.813rem;
	}

	.md\:leading-none {
		line-height: 1;
	}
}






@media (min-width: 1024px) {

	.lg\:-mt-32 {
		margin-top: -8rem;
	}

	.lg\:flex {
		display: flex;
	}

	.lg\:flex-row {
		flex-direction: row;
	}
}






@media (min-width: 1280px) {

	.xl\:mb-0 {
		margin-bottom: 0px;
	}

	.xl\:flex-row {
		flex-direction: row;
	}
}
